<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Kristi|La+Belle+Aurore|Meddon|Montez|Nothing+You+Could+Do" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div id="vue">
            
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <span class="navbar-text header">Salvoooo!  </span>
  </ul>
   <ul class="navbar-nav ml-auto" v-if="loading">
            <li class="nav-item mr-auto" id="login-form" v-if="!checkLogin">
                <span class="navbar-text">Name: <input type="text" name="userName"v-model="userName"></span>
                <span class="navbar-text">Password: <input type="text" name="password" v-model="password"></span>
                <button  type="button" class="btn btn-primary" class="btn btn-lg btn-primary" v-on:click="login()" v-if="!checkLogin"> Log in</button>
                <button class="btn btn-primary" v-on:click="createNewPlayer()" v-if="!checkLogin">Sign up</button>
            </li>
            <li class="nav-item mr-auto" id="logout-form" onsubmit="return false">
                <button  type="button" class="btn btn-primary" v-on:click="logout()" v-if="checkLogin"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
            </li>
    </ul>
</nav>
        
<div class="w-100 d-flex justify-content-center">       
    <div class="" v-if="loading">
        <div v-if="checkLogin">Welcome {{player}}!</div>

      <button class="btn btn-primary" v-on:click="createGame()">Create new game</button>

      <th>Active games</th>  
   
        <table >
            <tr class="table games" v-for="(game, index) in games">
            <td>{{game.id}} {{game.name}}</td>
            <td>Creation date: {{game.creationdate}}</td> 
            <td v-if="game.gameplayer[0]">Player 1: {{game.gameplayer[0].player.username}}({{game.gameplayer[0].id}})</td> 
            <td>Player 2:<p v-if="game.gameplayer.length == 2"> {{game.gameplayer[1].player.username}}, {{game.gameplayer[1].id}}</p></td> 
            <td>                    <button class="btn btn-primary" v-on:click="return2Game(game.gameplayer[1].id)" v-if="game.gameplayer[1] && playerid == game.gameplayer[1].player.id">Return to game</button>
                    <button class="btn btn-primary" v-on:click="return2Game(game.gameplayer[0].id)" v-if="playerid == game.gameplayer[0].player.id">Return to game</button>
            <button class="btn btn-primary" v-on:click="joinGame(game.id)" v-if="!returnGame(playerid,index) && game.gameplayer.length !== 2">Join game</button></td> 
    
            </tr>
        </table>
<!--      
            <tr class="table games" v-for="(game, index) in games">
                    <p>{{game.id}} {{game.name}}</p> 
                    <p>Creation date: {{game.creationdate}}</p>
                    <p v-if="game.gameplayer[0]">
                    Player 1: {{game.gameplayer[0].player.username}}({{game.gameplayer[0].id}}) </p>
                    <p>Player 2:</p><p v-if="game.gameplayer.length == 2"> {{game.gameplayer[1].player.username}}, {{game.gameplayer[1].id}}
                    </p>
                    <button class="btn btn-primary" v-on:click="return2Game(game.gameplayer[1].id)" v-if="game.gameplayer[1] && playerid == game.gameplayer[1].player.id">Return to game</button>
                    <button class="btn btn-primary" v-on:click="return2Game(game.gameplayer[0].id)" v-if="playerid == game.gameplayer[0].player.id">Return to game</button>
                    <button class="btn btn-primary" v-on:click="joinGame(game.id)" v-if="!returnGame(playerid,index) && game.gameplayer.length !== 2">Join game</button>
                </tr>
-->
    </div>

                <table id="leaderboard">
                    <tbody>
                        <tr>
                            <th v-for="x in thx">{{x}}</th>
                        </tr>
                        <tr v-for="dat in data">
                            <td>{{dat.user}}</td>
                            <td>{{dat.total}}</td>
                            <td>{{dat.win}}</td>
                            <td>{{dat.lose}}</td>
                            <td>{{dat.tie}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
<!--    <a href="https://www.freepik.com/free-vector/weapon-icons_1053335.htm">Icons created by Ibrandify - Freepik.com</a>-->
<!--   <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="scripts/games.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>