<!DOCTYPE HTML>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Kristi|La+Belle+Aurore|Meddon|Montez|Nothing+You+Could+Do" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</head>

<body onload="startTime()">
   
   <div id="test"></div>
   <div id="txt"></div>
    <div id="vue">
       <button class="btn btn-primary" v-on:click="back()">Leave game</button>
        <button  type="button" class="btn btn-primary" v-on:click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
        <h1>Ship Locations!</h1>
       
<!--    <button class="btn btn-primary" v-on:click="sendShipData('Test', ['A1','A2','A3'])">Sendship data</button>-->

       
<div class="dragndrop">

    <div id="shipgrid" class="tablebackground">
        <table class="grid"  ondragover="allowDrop(event)" ondrop="drop(event)">
            <caption v-for="player in games.gamePlayers" v-if="playerview(player.id)" class="games text-center h3">
            {{player.player.email}} (You)
            </caption>
            <tbody>
                <tr>
                    <th></th>
                    <th v-for="number in numbers" class="text-center">{{number}}</th>
                </tr>
                <tr v-for="letter in alphabet">
                    <th>{{letter}}</th>
                    <td v-for="number in numbers" v-bind:id="'U'+letter+number" ondragenter="shadowOn(id)" ondragleave="shadowOff()"></td>
<!--             <td v-for="number in numbers" v-on:drop="coordinates(number,letter)" v-bind:id="'U'+letter+number"></td>-->
                </tr>
            </tbody>
        </table>
    </div>    
       
        <div class="allships text-center">
        <p id="title">Fleet</p>
        <p id="f1" class="fleet">Carrier</p>
        <p id="f2" class="fleet">Battleship</p>
        <p id="f3" class="fleet">Submarine</p>
        <p id="f4" class="fleet">Destroyer</p>
        <p id="f5" class="fleet">Patrol Boat</p>
        <div class="ships" id="carrier" draggable="true" ondragstart="dragStart(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="battleship" draggable="true" ondragstart="dragStart(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="submarine" draggable="true" ondragstart="dragStart(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="destroyer" draggable="true" ondragstart="dragStart(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="patrolboat" draggable="true" ondragstart="dragStart(event)" onclick="rotateBy90Deg(this)"></div>
            </div>

      
       <div id="salvogrid" class="tablebackground">
        <table class="grid"   >
            <caption v-for="player in games.gamePlayers" v-if="games.gamePlayers[1] != null&&!playerview(player.id)" class="games text-center h3">{{player.player.email}} (Enemy)
            </caption>
            <tbody>
                <tr>
                    <th></th>
                    <th v-for="number in numbers" class="text-center">{{number}}</th>
                </tr>
                <tr v-for="letter in alphabet">
                    <th>{{letter}}</th>
                    <td v-for="number in numbers" v-on:click="coordinates(number,letter)" v-bind:id="'E'+letter+number"></td>
                </tr>
            </tbody>
        </table>
        </div>
       </div> 
       
    </div>
    
<!--    <a href="https://www.freepik.com/free-vector/weapon-icons_1053335.htm">Icons created by Ibrandify - Freepik.com</a>-->
   
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="scripts/game.js"></script>

</body>

</html>
