<!DOCTYPE HTML>
 <html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Kristi|La+Belle+Aurore|Meddon|Montez|Nothing+You+Could+Do" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="" onload="startTime()">
    <div id="vue">
    
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
    <span class="navbar-text header">Salvoooo!  </span>
<!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>
-->
  </ul>
  
   <ul class="navbar-nav ml-auto">
       <li class="nav-item mr-auto">
    <a class="nav-link" v-on:click="back()"><i class="fas fa-chevron-left fa-1x"></i></a>      	
    </li>
    <li class="nav-item mr-auto">
    <a class="nav-link" v-on:click="logout()"><i class="fas fa-sign-out-alt fa-1x"></i></a>      
    </li>
    </ul>
</nav>

<div class="d-flex justify-content-end">
<span class="navbar-text" id="txt"></span>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message from your captain</h5>
                  <img src="styles/Mark-Bruington_76-14r_2194x3072.jpg" alt="Smiley face" height="42" width="42">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Place all your ships on the grid
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aye aye, sir</button>
      </div>
    </div>
  </div>
</div>             
              
<!--<div class="container h-100 d-flex justify-content-center">              -->
<!--<div class="dragndrop justify-content-center align-items-center text-center vertical-center-row">-->
<div class="dragndrop w-100 d-flex justify-content-center">
<!--<div class="dragndrop vertical-center-row">-->

    <div id="shipgrid" class="tablebackground">
        <table class="grid"  ondragover="allowDrop(event)" ondrop="drop(event)">
            <div v-for="player in games.gamePlayers" v-if="playerview(player.id)" class="games text-center h3">
            {{player.player.email}} (You)
            </div>
            <tbody>
                <tr>
                    <th></th>
                    <th v-for="number in numbers" class="text-center">{{number}}</th>
                </tr>
                <tr v-for="letter in alphabet">
                    <th>{{letter}}</th>
                    <td v-for="number in numbers" v-bind:id="'U'+letter+number" ondragenter="shadowOn(id)" ondragleave="shadowOff(id)"></td>
<!--             <td v-for="number in numbers" v-on:drop="coordinates(number,letter)" v-bind:id="'U'+letter+number"></td>-->
                </tr>
            </tbody>
        </table>
    </div>    
       
        <div id="shipPanel" class="allships text-center">
        <p id="title">Fleet</p>
        <p id="f1" class="fleet">Carrier</p>
        <p id="f2" class="fleet">Battleship</p>
        <p id="f3" class="fleet">Submarine</p>
        <p id="f4" class="fleet">Destroyer</p>
        <p id="f5" class="fleet">Patrol Boat</p>
        <div class="ships" id="carrier" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="battleship" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="submarine" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="destroyer" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)" onclick="rotateBy90Deg(this)"></div>
        <div class="ships" id="patrolboat" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)" onclick="rotateBy90Deg(this)"></div>
            </div>

      
       <div id="salvogrid" class="tablebackground">
        <table class="grid"   >
            <div v-for="player in games.gamePlayers" v-if="games.gamePlayers[1] != null&&!playerview(player.id)" class="games text-center h3">{{player.player.email}} (Enemy)
            </div>
            <div v-if="games.gamePlayers[1] == null&&!playerview(player.id)" class="games text-center h3">(Enemy)</div>
            <tbody>
                <tr>
                    <th></th>
                    <th v-for="number in numbers" class="text-center">{{number}}</th>
                </tr>
                <tr v-for="letter in alphabet">
                    <th>{{letter}}</th>
                    <td v-for="number in numbers" v-on:click="coordinates(number,letter)" v-bind:id="'E'+letter+number" onclick="placeSalvoes(event)"></td>
                </tr>
            </tbody>
        </table>
        </div>
       </div> 
    </div>
<!--    <a href="https://www.freepik.com/free-vector/weapon-icons_1053335.htm">Icons created by Ibrandify - Freepik.com</a>-->
<!--   <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="scripts/game.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
