body {
/*
    background-image: url("bckgrnd.jpg");
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
*/
/*    background-position: bottom right;*/

    font-family: 'Nothing+You+Could+Do', cursive !important;
/*    font-family: 'Montez';*/
/*    font-family: 'Meddon', cursive;*/
/*    font-family: 'La+Belle+Aurore', cursive;*/
/*    font-family: 'Kristi', cursive;*/
/*    font-family: 'Homemade+Apple', cursive;*/
    overflow: auto;
}

table{
    border-collapse: collapse;
    text-align: center;
}

#txt{
    font-family: 'Special Elite', cursive;
}

#leaderboard{
/*    border-style: solid dotted;*/
/*    https://www.w3schools.com/cssref/playit.asp?filename=playcss_border-style&preval=dashed*/
}

td {
    width: 50px;
    height: 50px;
    border: 5px dotted black
}

td, th {
    padding: 0;
    position: relative;
    z-index: 0;
}

.dragndrop{
    position: absolute;
}

.ships {
/*    vertical-align: middle;*/
    position: absolute;
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
/*    display: inline;*/
    top: 0;
    z-index: 1;
  
/*
    left: 0;
    border: 0;
*/
}

#title {
    margin-left: 35%;
    margin-top: 5%;
    font-size: 24px;
    position: absolute;
/*    top: 0;*/
}

.fleet{
    position: absolute;
    margin-left: 35px;
}

#f1{
    margin-top: 48px;
}
#f2{
    margin-top: 150px;
}
#f3{
    margin-top: 250px;
}
#f4{
    margin-top: 350px;
}
#f5{
    margin-top: 450px;
}

/*
#test{
     background-image: url(Weaponicons_h.png);   
    height: 900px;
    width: 900px;
    background-size: contain;
}
*/

#carrier{
    background-image: url("carrier_h.png");
    background-position: center; 
    background-size: cover;
    height:50px;
    width:250px;
    margin-left: 35px;
    margin-top: 75px;

/*shadow effect
    -webkit-filter: invert(40%) grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: invert(50%) grayscale(50%) brightness(75%) contrast(0) opacity(65%)
*/    
    
/* make red for warning 
      -webkit-filter: invert(40%) grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    
      filter: invert(40%) grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(2);
*/
}

#battleship{
    background-image: url(battleship_h.png);
    background-position: center; 
/*    background-size: cover;*/
    height:50px;
    width:200px;
    align-self: auto;
    margin-left: 35px;
        margin-top: 175px;
} 

#submarine{
    background-image: url(submarine_h.png);
    background-position: center; 
/*    background-size: auto;*/
    height:50px;
    width:150px;
    margin-left: 35px;
    margin-top: 275px;
}

#destroyer{
    background-image: url(destroyer_h.png);
    background-position: center; 
/*    background-size: cover;*/
    height:50px;
    width:150px;
    margin-left: 35px;
    margin-top: 375px;
}

#patrolboat{
    background-image: url(patrolboat_h.png);
    background-position: center; 
/*    background-size: cover;*/
    height:50px;
    width:100px;
    margin-left: 35px;
    margin-top: 475px;
}

.ship-location{
    background-color: green;
}
.hit {
     background-color: red; 
}
.miss {
      background-color: blue;
}

caption{
    margin: 0 !important;
}

.tablebackground, .allships{
    background-color: rgba(255,255,255,0.4);
    border-radius: 30px;
    display:inline-block;
    height: 600px;
    margin: 10px;
}

#shadow{
    background-image: url("carrier_h.png");
    background-position: center; 
    background-size: cover;

    filter: invert(50%) grayscale(50%) brightness(75%) contrast(0) opacity(65%);
/*    background-color:aqua;*/
    z-index: -1;
    height:50px;
    width:150px;
}

.allships{
    position:relative;
    width: 300px;
    z-index: 0;
}

.grid {
    margin: 15px;
    padding: 15px;
    border:none;
/*	outline:1px solid #000;*/
}

#shipgrid{

}

#salvogrid{
    visibility:hidden;
    display:none;
}